/* Global Settings */
body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    display: flex;
}

.grid {
    display: grid;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* Generic Settings */

.container {
    width: 1200px;
    margin: 0 auto;
}

.sprite {
    background-image: url("https://www.iplt20.com/resources/v4.7.4/i/sprites/global-sprite.png");
}

#header {
    background-color: #19398a;
}
#header .row {
    align-items: center;
    justify-content: space-between;
}
#header .logo {
    width: 20%;
}
#header .logo a {
    background-position: -115px -276px;
    width: 110px;
    height: 56px;
    display: inline-block;
}

#header .search a {
    color: #fff;
    font-size: 20px;
    display: inline-block;
}

#header .search .search-icon {
    padding: 30px;
}

#header .search .fan-poll {
    background-color: #1299d5;
    border-radius: 20px;
    padding: 4px 13px 4px 5px;
    font-size: 16px;
    font-weight: bold;
}
#header .search .fan-poll .num {
    height: 23px;
    width: 24px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    /* padding: 2px; */
    background-color: #fff;
    color: #1299d5;
}
#header .search .fan-poll i {
    margin: 0px 5px;
}

#main-navigation {
    width: 55%;
}
#main-navigation > ul {
    display: flex;
    /* justify-content: space-between; */
}
#main-navigation > ul > li {
    position: relative;
} 
#main-navigation > ul > li > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: block;
    padding: 30px;
}
#main-navigation > ul:hover > li > a{
    opacity: 0.7;
}
#main-navigation > ul > li > a:hover {
    opacity: 1;
}

#main-navigation .dropdown {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 200%;
    top: 60px;
    left: -50%;
    display: none;
}
#main-navigation .dropdown ul li a{
    color: #19398a;
    font-size: 13px;
}

#main-navigation ul li:hover .dropdown {
    display: block;
}

#main-navigation ul li .dropdown:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    border: 5px solid #fff;
    border-color: transparent transparent #fff;
}

#banner {
    position: relative;
}
#banner .title {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 45%;
}
#banner .title h1 {
    font-size: 54px;
    line-height: 52px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
}
#banner .title h1 a {
    color: #fff;
}
#banner .title span {
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 8px;
    color: #fff;
    background-color: #FFB605;
    text-transform: uppercase;
}

#banner .trending {
    position: absolute;
    bottom: 20px;
}
#banner .trending > .row {
    justify-content: space-evenly;
}

#banner .trending .col {
    background-color: #fff;
    width: 31%;
    border-radius: 10px;
    padding: 10px;
    transition: 0.1s;
}
#banner .trending .col:hover {
    transform: scale(1.05,1.05);
}
#banner .trending .col .row {
    justify-content: space-between;
}
#banner .trending .col-1 {
    width: 35%;
}
#banner .trending .col-2 {
    width: 63%;
    display: flex;
    flex-direction: column;
}
#banner .trending .col-2 .row {
    margin-top: auto;
}
#banner .trending a{
    color: #000;
    font-weight: bold;
}
#banner .trending h3 {
    color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
}

#banner:before {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(0deg,#0b235e,rgba(3,14,42,0));
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#footer {

}

/* Specific Settings */

/* Page 1 */
#section_1 {
    padding: 40px 15px;
    margin-bottom: 100px;
}
#section_1 h2 {
    margin-bottom: 30px;
}
#section_1 .row {
    justify-content: space-between;
}
#section_1 .col {
    text-align: center;
    position: relative;
    width: 33%;
    /* overflow: hidden; */
}
#section_1 .col .image {
    overflow: hidden;
}
#section_1 .col img {
    border-radius: 4px;
    transition: 0.4s;
}
#section_1 .col .desc {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    padding: 15px;
    transition: 0.24s;
    position: absolute;
    width: 98%;
    left: 1%;
    bottom: -33%;
    background-color: #fff;
    z-index: 10;
}
#section_1 .col .desc::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    left: 0px;
    background: linear-gradient(270deg,#fc0,#ef4123 37%,#ef4123 66%,#fc0);
}

#section_1 .col a {
    color: #000;
    transition: 0.10s;
}
#section_1 .col .desc h4 {
    margin-bottom: 15px;
    font-weight: 900;
}
#section_1 .col .desc span {
    font-style: 12px;
}
#section_1 .col:hover a {
    color: #fff;
}
#section_1 .col:hover .desc {
    background-color: #000;
}
#section_1 .col:hover img {
    transform: scale(1.3,1.3);
}

/* Page 2 */