#cube {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    /* perspective: 400px; */
    transition: 5s;
    transform-style: preserve-3d;
    animation: cube 5s infinite;
}
#cube > div {
    height: inherit;
    width: inherit;
    border: 2px solid red;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: 50px;
}

@keyframes cube {
    0% {
        transform: rotate3d(0,0,0,0deg);
    }
    100% {
        transform: rotate3d(1,1,1,360deg);
    }
}

#left {
    transform: rotateY(90deg);
    transform-origin: left;
}
#right {
    transform: rotateY(-90deg);
    transform-origin: right;
}

#top {
    transform-origin: top;
    transform: rotateX(-90deg);
}
#bottom {
    transform-origin: bottom;
    transform: rotateX(90deg);
}

#back {
    transform: translateZ(-300px);
}