/* Global Settings */
body {
    margin: 0px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    display: flex;
}

.grid {
    display: grid;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* Generic Settings */
#header {

}

#main-navigation {

}

#footer {

}

/* Specific Settings */

/* Page 1 */
#musicPlayer audio {
    width: 100%;
}
#musicPlayer button {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

#audioPlayer .slider {
    width: 90%;
    vertical-align: middle;
}

input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: red;
    box-shadow: 10px 10px 10px black;
    height: 3px;
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: -11px;
}


#all_songs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#all_songs li {
    width: 23%;
    margin-bottom: 30px;
    cursor: pointer;
}
#all_songs img {
    max-height: 140px;
}
#all_songs h5 {
    font-size: 13px;
}

#playlist li {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
#playlist li img {
    width: 10%;
}
#playlist li h6 {
    width: 30%;
}
#playlist li button {
    width: 20%;
    margin-left: 150px;
}
#playlist li:hover {
    background-color: lightsteelblue;
}